@import url("https://fonts.googleapis.com/css?family=Lora");
* {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  box-sizing: border-box;
}
html {
  background-color: #323232;
  color: #cdcdcd;
}
.headDiv {
  text-align: center;
  margin: 25px;
}

#colorSelect {
  border: none;
  appearance: none;
  margin: 10px 5px 0px;
}

#colorGrid,
.codes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.colorBlock {
  height: 200px;
  min-width: 200px;
  background-color: #c9c9d8;
  border: 1px black solid;
  margin: 2px;
}
.hexdiv {
  height: 30px;
  min-width: 200px;
  background-color: #c9c9d8;
  border: 1px black solid;
  margin: 2px;
}

#harmonySelect {
  text-align: center;
}
.choosing {
  display: inline-flex;
  justify-content: space-around;
}
#color-base {
  border: 5px #c9c9d8 solid;
}
